<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron text-center">
  <h1>Task Manager</h1>   
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

  <ul class="nav">
  <li class="nav-item">
    <a class="ml-3 btn btn-outline-secondary btn-block active" aria-pressed="true" [routerLink]="['addtask']" routerLinkActive="active">Add Task </a>
  </li>
  <li class="nav-item">
    <a class="ml-5 btn btn-outline-secondary btn-block" [routerLink]="['listtask']" routerLinkActive="active">List Task</a>
  </li>
</ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


